/.vscode
/node_modules
/public/dist
/public/build
/public/hot
/public/storage
/public/**/*.map
/storage/*.key
/vendor
.env
.env.backup
.env.prod
npm-debug.log
yarn-error.log
**/*:Zone.Identifier

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpunit.result.cache