@use "../settings" as *;

.home__header {
    display: grid;
    place-items: end;
    background-size: cover;
    background-position: top;
    background-attachment: scroll, scroll;
    @media (min-width: $breakpoint-sm) {
        background-attachment: scroll, fixed;
    }
    background-image: linear-gradient(to bottom, hsla(0, 0, 0, 0) 88%, hsl(0, 0, 9)), var(--nb-heroimage);
    
    height: 60vh;
    @media (min-width: $breakpoint-md) {
        height: 65vh;
    }
    @media (min-width: $breakpoint-md) {
        height: 70vh;
    }

    @media (min-width: $breakpoint-lg) {
        height: 73vh;
    }

    @supports (height: 60svh) {
        height: 60svh;
        @media (min-width: $breakpoint-md) {
            height: 65svh;
        }
        @media (min-width: $breakpoint-md) {
            height: 70svh;
        }

        @media (min-width: $breakpoint-lg) {
            height: 73svh;
        }
    }

    > div {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 80rem;
        padding-left: 1rem;
        padding-right: 1rem;
        filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.08)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));

        margin-bottom: 3rem;

        @media (min-width: $breakpoint-sm) {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        @media (min-width: $breakpoint-md) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @media (min-width: $breakpoint-lg) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        > .main-heading {
            width: max-content;
            padding-bottom: 0.25rem;
            font-size: min(3rem, 9vw);
            line-height: 1;
            font-weight: 800;
            will-change: contents;
        }

        .info-text {
            width: max-content;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            > span {
                position: relative;
            }
            
            > .divider {
                display: block;
                width: 1px;
                height: 1.125rem;
                margin-top: auto;
                margin-bottom: auto;
                background-color: var(--border-color);
            }
        }

        > .icon-groups {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            > .divider {
                display: block;
                width: 1px;
                height: 1.5rem;
                margin-top: auto;
                margin-bottom: auto;
                background-color: var(--border-color);
            }

            > .socials {
                display: flex;
                flex-direction: row;

                a {
                    position: relative;
                    display: block;
                    padding: 0.5rem;

                    &:first-child {
                        margin-left: -0.5rem;
                    }

                    > svg {
                        height: 1.25rem;
                        width: 1.25rem;
                    }
                }
            }

            > .coding-languages {
                display: flex;
                flex-direction: row;

                a {
                    position: relative;
                    display: block;
                    padding: 0.5rem;

                    &:first-child {
                        margin-left: -0.5rem;
                    }

                    > svg {
                        height: 1.25rem;
                        width: 1.25rem;
                    }
                }
            }
        }
    }
}

.home__projects {
    > .heading {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }

    > .cards {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        @media (min-width: $breakpoint-md) {
            grid-template-columns: repeat(auto-fill, minmax(37.5rem, 1fr));
        }
        gap: 1rem;

        > .card {
            display: flex;
            max-width: 100%;
            gap: 1rem;
            flex-direction: column;
            
            border-radius: 0.375rem;
            background-color: var(--bg-cards);
            padding: 1rem;
            
            @media (min-width: $breakpoint-sm) {
                flex-direction: row;
            }

            @media (min-width: $breakpoint-lg) {
                min-width: 37.5rem;
            }

            > img {
                aspect-ratio: 1;
                height: 100%;
                max-height: 10rem;
                max-width: 10rem;
                align-self: center;

                @media (min-width: $breakpoint-sm) {
                    max-height: 15vh;
                }

                @media (min-width: $breakpoint-md) {
                    max-height: 12.5vh;
                }
    
                @media (min-width: $breakpoint-lg) {
                    max-height: 10rem;
                }

                border-radius: 0.5rem;
            }

            > .content {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                flex-grow: 1 0;
                min-width: 0;

                > .heading {
                    border-bottom-width: 1px;
                    border-color: var(--border-color);
                    padding-bottom: 0.25rem;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    font-weight: 700
                }

                > .long-text {
                    line-height: 1.25;

                    @supports not (line-clamp: 3) {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}