.home__header {
    display: grid;
    height: 100vh;
    place-items: center;
    justify-items: start;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(23, 23, 23, 0.6), rgba(23, 23, 23, 1)), var(--nb-heroimage);

    > div {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 80rem;
        padding-left: 1rem;
        padding-right: 1rem;
        filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

        @media (min-width: 640px) {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        @media (min-width: 768px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @media (min-width: 1024px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        > .main-heading {
            width: max-content;
            border-bottom-width: 1px;
            border-color: var(--border-color);
            padding-bottom: 0.25rem;
            font-size: 3rem;
            line-height: 1;
            font-weight: 700;
        }

        .socials {
            display: flex;
            flex-direction: row;

            a {
                position: relative;
                display: block;
                padding: 0.5rem;

                &:first-child {
                    margin-left: -0.5rem;
                }

                > svg {
                    height: 1.25rem;
                    width: 1.25rem;
                }
            }
        }
    }
}

.home__scroll-reminder {
    position: absolute;
    bottom: 2%;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0);
    flex-direction: column;
    align-items: center;

    .outer {
        display: flex;
        height: 3rem;
        width: 1.5rem;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border-width: 2px;
        border-color: white;

        .inner {
            display: block;
            height: 0.75rem;
            width: 0.75rem;
            border-radius: 9999px;
            background-color: white;
        }
    }

    .text {
        margin-top: 1rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.home__projects {
    > .heading {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }

    > .cards {
        display: flex;
        max-width: 100%;
        flex-direction: row;
        gap: 1rem;
        overflow-x: scroll;

        > .card {
            display: flex;
            width: -moz-fit-content;
            width: fit-content;
            min-width: 30rem;
            max-width: 60ch;
            flex-direction: row;
            gap: 1rem;
            border-radius: 0.375rem;
            background-color: var(--bg-cards);
            padding: 1rem;

            > img {
                aspect-ratio: 1 / 1;
                height: 100%;
                max-height: 10rem;
            }

            > .content {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                > .heading {
                    border-bottom-width: 1px;
                    border-color: var(--border-color);
                    padding-bottom: 0.25rem;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    font-weight: 700
                }

                > .long-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.25;
                    flex-grow: 1;
                }

                > a {
                    width: max-content;
                    border-radius: 0.375rem;
                    background-color: var(--button-background);
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem
                }

                > a:hover {
                    background-color: var(--button-background-hover);
                }
            }
        }
    }
}