.tmasigns {
    > .two-col {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;

        @media (min-width: 1024px) {
            flex-direction: row;
        }

        > .left-col {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            @media (min-width: 1024px) {
                width: 40%
            }

            > .wrapper-button-align-right {
                display: flex;
                width: 100%;
                justify-content: flex-end;
            }

            > .options {
                background-color: var(--bg-cards);
                padding: 0.5rem;
                border-radius: 0.375rem;
                user-select: none;

                > summary {
                    cursor: pointer;
                }

                > :not(summary) {
                    margin-top: 0.5rem;
                }
            }
        }

        > .right-col {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: 1024px) {
                width: 60%;
            }

            > .preview-image {
                position: relative;
                display: grid;
                max-height: 24rem;
                min-height: 200px;
                place-content: center;
                border-radius: 0.375rem;
                overflow: hidden;
                background-color: rgb(55 65 81);

                &::after {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-top-left-radius: 0.375rem;
                    border-bottom-right-radius: 0.375rem;
                    background-color: var(--bg-secondary);
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                    content: "Preview";
                }

                > img {
                    max-height: 24rem;
                    cursor: zoom-in;
                }
            }

            > .json-debug {
                background-color: var(--bg-cards);
                padding: 0.5rem;
                border-radius: 0.375rem;
                display: flex;
                width: 100%;
                flex-direction: column;
                user-select: none;

                > .heading {
                    cursor: pointer;
                }

                > .description {
                    display: block;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: var(--text-color-secondary);
                }

                > .code {
                    margin-top: 0.25rem;
                    white-space: pre-wrap;
                    background-color: var(--bg-primary);
                    border-radius: 0.375rem;
                    padding: 1rem;
                    font-family: var(--font-mono);
                    color: var(--text-color-paragraph);
                }
            }

        }

    }

    > hr {
        border-color: var(--border-color);
        margin: 0.5rem 0rem;
    }

    > h4 {
        font-size: 1.5rem;
        color: var(--text-color-heading);
        font-weight: 600;
        padding: 0.5rem 0;
    }

    > .card-row {
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
        flex-direction: row;
        }
        gap: 1rem;
        overflow-x: scroll;

        > .card {
            display: flex;
            width: 100%;
            @media (min-width: 1024px) {
            width: 50%;
            }
            flex-direction: column;
            gap: 0.75rem;
            border-radius: 0.375rem;
            background-color: var(--bg-cards);
            padding: 1rem;

            > img {
                max-height: 30;
                aspect-ratio: 16 / 9;
                border-radius: 0.5rem;
            }

            > .content {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                flex-grow: 1;

                > .heading {
                    border-bottom-width: 1px;
                    border-color: var(--border-color);
                    padding-bottom: 0.25rem;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    font-weight: 700
                }

                > .long-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.25;
                    flex-grow: 1;
                }
            }
            
            > .button {
                align-self: flex-end;
            }
        }
    }

    .locatortool {
        .card {
            @media (min-width: 1024px) {
                width: 90ch;
            }

            > .input > textarea {
                font-size: 0.8rem;
                font-family: var(--font-mono);
                line-height: 2rem;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > .wrapper-button-align-right {
                display: flex;
                width: 100%;
                justify-content: flex-end;
            }
        }

        // Not directly under this div, dont add `>`
        .urllist {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            > li {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content:space-between;
                background-color: var(--bg-primary);
                padding: 0.2rem 0.75rem;
                border-radius: 9999px;
                font-family: var(--font-mono);
                letter-spacing: -1.25px;
                font-size: 1rem;
                max-width: 100%;

                span {
                    max-width: 95%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}