.x-accordion {
    &__button {
        width: 100%;

        font-family: var(--font-display);
        font-stretch: var(--font-display-stretch);
        font-size: 1.5rem;
        color: var(--text-color-heading);
        font-weight: 600;
        padding: 0.5rem 0;
        position: relative;
    }

    &__button::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E%0A");
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%) rotate(0deg);
        transform-origin: 50% 50%;
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        z-index: 0;

        transition: transform 0.1s ease-in-out;
    }

    &__button[aria-expanded="true"]::after {
        transform: translate(0, -50%) rotate(-90deg);
    }

    &__h {
        display: block;
    }

    &__content {
        margin: -1px;
        padding: 1px;
    }
}