// Colors && fonts
:root {
    --text-color-heading: #ffffff;
    --text-color-paragraph: #d1d5db;

    --text-color-primary: #ffffff;
    --text-color-secondary: #d1d5db;

    --font-sans: "MontserratVariable", "Montserrat", ui-sans-serif, sans-serif, system-ui;
    --font-mono: "Fira CodeVariable", "Fira Code", ui-monospace, monospace;

    --brand-color: #ffdf00;

    --bg-body: #171717;
    --bg-cards: #0a0a0a;
    --bg-primary: #171717;
    --bg-secondary: #0a0a0a;
    --bg-warn: #000000;
    --bg-error: #7f1d1d;
    --bg-success: #166534;

    --border-color: rgb(113 113 122);

    --outline-color: #0000ff;

    --color-error: #7f1d1d;
    --color-success: #166534;
    --color-info: #5865F2;

}

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// Component specific variables
// Scrollbar
:root {
    --scrollbar-background: #d1d5db;
    --scrollbar-background-hover: #ffffff;
}

// Navbar
:root {
    --nav-bg: rgba(24, 24, 27, 0.5);
}

// Hero
:root {
    --nb-heroimage: url('/assets/hero@768p.webp');

    @media (min-aspect-ratio: 16/9) {
        @media (min-width: 1367px) {
            --nb-heroimage: url('/assets/hero@1080p.webp');
        }
    
        @media (min-width: 1921px) {
            --nb-heroimage: url('/assets/hero@1440p.webp');
        }
    
        @media (min-width: 2561px) {
            --nb-heroimage: url('/assets/hero.webp');
        }
    }
    
    @media (max-aspect-ratio: 16/9) {
        @media (min-height: 769px) {
            --nb-heroimage: url('/assets/hero@1080p.webp');
        }
        
        @media (min-height: 1081px) {
            --nb-heroimage: url('/assets/hero@1440p.webp');
        }
    
        @media (min-height: 1441px) {
            --nb-heroimage: url('/assets/hero.webp');
        }
    }
}

// Button
:root {
    --button-background: #262626;
    --button-background-hover: #404040;
    --button-background-active: #171717;
}

// Input 
:root {
    --input-background: #262626;
    --input-background-hover: #404040;
    --input-outline: rgb(113 113 122);
}