@font-face {
    font-family: 'Mona Sans';
    font-display: fallback;
    src: url('/resources/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
         url('/resources/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Mona Sans Fallback';
    size-adjust: 108.5%;
    ascent-override: 82%;
    src: local(Arial);
  }

@font-face {
    font-family: 'Hubot Sans';
    font-display: fallback;
    src: url('/resources/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
         url('/resources/fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

$JetBrainsMono: (
    100: JetBrainsMono-Thin,
    200: JetBrainsMono-ExtraLight,
    300: JetBrainsMono-Light,
    400: JetBrainsMono-Regular,
    500: JetBrainsMono-Medium,
    600: JetBrainsMono-SemiBold,
    700: JetBrainsMono-Bold,
    800: JetBrainsMono-ExtraBold,

);

@each $fontname $name in $JetBrainsMono {
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: optional;
        font-style: normal;
        font-weight: $name;
        src: url('/resources/fonts/JetBrainsMono/webfonts/#{$fontname}.woff2') format("woff2"),
             url("/resources/fonts/JetBrainsMono/ttf/#{$fontname}.ttf") format("truetype");
    }
    
    @if($fontname == "JetBrainsMono-Regular") {
        @font-face {
            font-family: 'JetBrains Mono';
            font-display: optional;
            font-style: italic;
            font-weight: $name;
            src: url('/resources/fonts/JetBrainsMono/webfonts/JetBrainsMono-Italic.woff2') format("woff2"),
                 url('/resources/fonts/JetBrainsMono/ttf/JetBrainsMono-Italic.ttf') format("truetype");
        }
    } @else {
        @font-face {
            font-family: 'JetBrains Mono';
            font-display: optional;
            font-style: italic;
            font-weight: $name;
            src: url('/resources/fonts/JetBrainsMono/webfonts/#{$fontname}Italic.woff2') format("woff2"),
                 url('/resources/fonts/JetBrainsMono/ttf/#{$fontname}Italic.ttf') format("truetype");
        }
    }
}