.tooltip:after {
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    transform-origin: bottom;
    transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.tooltip:hover::after {
    content: attr(data-popup);
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    background-color: #000;
    padding: 0.4rem 1rem;
    border-radius: 0.25rem;
}