.posts-show {
    --max-content-width: 45rem;

    width: 100%;
    article {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > hgroup {
            @media (--max-breakpoint-lg) {
                align-self: center;
                width: var(--max-content-width);
                max-width: 100%;
            }

            > .heading {
                display: block;
                padding-top: 1.5rem;
                font-size: 2.5rem;
                line-height: 2.25rem;
                font-weight: 800;
            }
            > .information {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @media (--min-breakpoint-md) {
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                }
                justify-content: flex-start;
                
                svg {
                    margin-bottom: 3px;
                }
            }
        }

        hr {
            @media (--max-breakpoint-lg) {
                width: var(--max-content-width);
                max-width: 100%;
                align-self: center;
            }
        }

        > .two-col {
            display: flex;
            flex-direction: column;
            @media (--min-breakpoint-lg) {
                flex-direction: row;
            }
            justify-content: center;
            gap: 2rem 1rem;

            .content {
                width: var(--max-content-width);
                max-width: 100%;
                align-self: center;
            }

            aside {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                @media (--max-breakpoint-lg) {
                    width: var(--max-content-width);
                    max-width: 100%;
                    align-self: center;
                }

                .permalink {
                    position: relative;
                    @include font-sans;
                    color: var(--text-color-secondary);
                    background: var(--bg-cards);
                    border-radius: 0.375rem;
                    padding: 0.5rem 0.75rem;
                    text-align: start;

                    /* Firefox Fix */
                    @supports not selector(:has(svg)) { 
                        svg { margin-right: 0.5rem; } 
                    }

                    &.copied::after {
                        content: "Copied to clipboard";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        translate: -50% -50%;
                        background: var(--bg-cards);
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-content: center;
                        border-radius: 0.375rem;

                        animation: copied 5s ease-in-out 0.1s forwards;
                        opacity: 0;
                    }

                    @keyframes copied {
                        0% {
                            opacity: 0;
                        }
                        3% {
                            opacity: 1;
                        }

                        90% {
                            opacity: 1;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }

                figure {
                    background: var(--bg-cards);
                    border-radius: 0.375rem;
                    margin: 0;
                    padding: 0;
                    aspect-ratio: 16 / 9;
                    overflow: hidden;
                    max-width: 100%;
                    position: relative;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        translate: -50% -50%;
                    }
                }
            }
        }
    }
}

.markdown {
    font-stretch: 105%;
    font-size: 1rem;

    pre {
        background-color: var(--bg-cards);
        overflow-x: scroll;
    }
    
    code {
        font-size: 13px;
    }
}