.button {
    transition: background-color 0.1s ease-in-out;

    width: max-content;
    border-radius: 0.375rem;
    background-color: var(--button-background);
    color: unset;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 0.5em;

    &:hover {
        background-color: var(--button-background-hover);
        text-decoration: unset;
    }

    &[disabled] {
        filter: brightness(0.75);
        cursor: not-allowed;
    }
}