.default-page {
    position: relative;
    padding-top: 1rem;
    & > .heading {
        filter: drop-shadow(0px 0px 10px black);
        position: absolute;
        top: 0;
        left: 0;
        translate: 0 -100%;
        display: block;
        padding-bottom: 0.1rem;
        font-size: 2rem;
        font-weight: 700;
    }
}