.component_details {
    transition: transform 0.2s ease-in-out;

    > summary {
        @include font-display;
        font-size: 1.5rem;
        color: var(--text-color-heading);
        font-weight: 600;
        padding: 0.5rem 0;
        cursor: pointer;
        position: relative;

        &::marker {
            content: none;
            display: none;
        }
    }

    > summary::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E%0A");
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%) rotate(0deg);
        transform-origin: 50% 50%;
        display: block;
        height: 1.5rem;
        width: 1.5rem;

        transition: transform 0.1s ease-in-out;
    }

    &[open] > summary::after {
        transform: translate(0, -50%) rotate(-90deg);
    }
}

.component_details-card {
    transition: transform 0.2s ease-in-out;
    border-radius: 0.375rem;
    background-color: var(--bg-cards);
    border: 1px solid var(--accent-2);
    padding: 0.5rem 0.75rem;
    
    display: flex;
    width: 100%;
    flex-direction: column;

    summary {
        @include font-display;
        
        cursor: pointer;
        user-select: none;
        position: relative;

        /* Fix for safari */
        list-style: none;
        &::marker{
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }

    p {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--text-color-secondary);
    }

    summary::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E%0A");
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%) rotate(0deg);
        transform-origin: 50% 50%;
        display: block;
        height: 1.25rem;
        width: 1.25rem;

        transition: transform 0.1s ease-in-out;
    }

    &[open] > summary::after {
        transform: translate(0, -50%) rotate(-90deg);
    }
}