.hero {
        width: 100%;
    -webkit-user-select: none;
            user-select: none;

    height: 20vh;
    min-height: 20vh;
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.25) 0%, transparent 2rem),
                      radial-gradient(circle at 10px 10px, #707070 1px, transparent 1px),
                      radial-gradient(circle at 30px 30px, #404040 1px, transparent 1px);
    background-size: cover, 40px 40px, 40px 40px;

    border-bottom: 1px solid var(--accent-2);
    box-shadow: inset 0px 0px;

    overflow: clip;
    position: relative;
    z-index: 0;

    > .hero__background-component {
        z-index: -1;
        position: absolute;
        display: block;
        aspect-ratio: 1;
        translate: -50% -50%;
    }

    > .hero__glow-1 {
        width: 50%;
        top: 25%;
        right: -25%;
        border-radius: 50%;
        --opacity: 0.2;
        background-image: linear-gradient(
            45deg,
            hsl(50deg 100% 60% / var(--opacity)) 1%,
            hsl(43deg 100% 60% / var(--opacity)) 22%,
            hsl(34deg 100% 63% / var(--opacity)) 31%,
            hsl(22deg 100% 67% / var(--opacity)) 38%,
            hsl(6deg 100% 71% / var(--opacity)) 44%,
            hsl(348deg 100% 70% / var(--opacity)) 50%,
            hsl(334deg 100% 67% / var(--opacity)) 55%,
            hsl(324deg 100% 66% / var(--opacity)) 61%,
            hsl(310deg 76% 62% / var(--opacity)) 66%,
            hsl(283deg 70% 63% / var(--opacity)) 73%,
            hsl(252deg 80% 67% / var(--opacity)) 81%,
            hsl(212deg 100% 48% / var(--opacity)) 100%
        );
        filter: blur(calc(50px * (1 + var(--scrollposition-y))));
        @media (--min-breakpoint-md) {
            filter: blur(calc(100px * (1 + var(--scrollposition-y))));
        }
    }

    > .hero__glow-2 {
        width: calc(15vw * 0.2 + 20rem * 0.8);
        top: 90%;
        left: calc(45% + (0.01 * var(--scrollposition-y-p)));
        border-radius: 50%;
        --opacity: calc(0.2 * (1 - var(--scrollposition-y)));
        background-image: linear-gradient(
            10deg,
            hsl(50deg 100% 60% / var(--opacity)) 1%,
            hsl(43deg 100% 60% / var(--opacity)) 22%,
            hsl(34deg 100% 63% / var(--opacity)) 31%,
            hsl(22deg 100% 67% / var(--opacity)) 38%,
            hsl(6deg 100% 71% / var(--opacity)) 44%,
            hsl(348deg 100% 70% / var(--opacity)) 50%,
            hsl(334deg 100% 67% / var(--opacity)) 55%,
            hsl(324deg 100% 66% / var(--opacity)) 61%,
            hsl(310deg 76% 62% / var(--opacity)) 66%,
            hsl(283deg 70% 63% / var(--opacity)) 73%,
            hsl(252deg 80% 67% / var(--opacity)) 81%,
            hsl(212deg 100% 48% / var(--opacity)) 100%
        );
        filter: blur(calc(40px * (1 + var(--scrollposition-y) * 0.5)));
    }

    > .hero__glow-3 {
        width: 40%;
        top: 0%;
        left: 0;
        border-radius: 50%;
        --opacity: calc(0.2 * (1 - var(--scrollposition-y) * 0.5)) ;
        background-image: linear-gradient(
            145deg,
            hsl(50deg 100% 60% / var(--opacity)) 1%,
            hsl(43deg 100% 60% / var(--opacity)) 22%,
            hsl(34deg 100% 63% / var(--opacity)) 31%,
            hsl(22deg 100% 67% / var(--opacity)) 38%,
            hsl(6deg 100% 71% / var(--opacity)) 44%,
            hsl(348deg 100% 70% / var(--opacity)) 50%,
            hsl(334deg 100% 67% / var(--opacity)) 55%,
            hsl(324deg 100% 66% / var(--opacity)) 61%,
            hsl(310deg 76% 62% / var(--opacity)) 66%,
            hsl(283deg 70% 63% / var(--opacity)) 73%,
            hsl(252deg 80% 67% / var(--opacity)) 81%,
            hsl(212deg 100% 48% / var(--opacity)) 100%
        );
        filter: blur(100px) brightness(0.75) saturate(1.5);
        @media (--min-breakpoint-md) {
            filter: blur(200px) brightness(0.75) saturate(1.5);
        }
    }
}