.information-card {
    --accent-color: var(--border-color);

    display: flex;
    max-width: 100%;
    gap: 1rem;
    flex-direction: row;
    
    border-radius: 0.375rem;
    border-color: var(--accent-color);
    border-width: 1px;
    background-color: var(--bg-cards);
    padding: 1rem;

    margin: 0.5rem 0;

    > .icon svg {
        fill: var(--accent-color);
        align-self: flex-start;
    }
    
    > .content {
        > h6 {
            font-size: 1rem;
            font-weight: 500;
        }

        > p {
            font-size: 0.9rem;
            font-weight: 400;
            max-width: 100ch;
        }

        > :last-child:not(:nth-child(1), p) {
            margin-top: 0.5rem;
        }
    }

}