.input {
    * {
        transition: background-color 0.1s ease-in-out;
    }
    
    :disabled {
        filter: brightness(0.85);
        cursor: not-allowed;
        user-select: none;
    }

    @supports selector(:has(:disabled)) {
        &:has(:disabled), &:has(:disabled) *  {
            filter: brightness(0.85);
            cursor: not-allowed;
            user-select: none;
        }
    }

    label {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--text-color-secondary);
        user-select: none;
        padding-bottom: 0.25rem;
    }

    input {
        display: block;
        width: 100%;
        border-radius: 0.375rem;
        background-color: var(--input-background);
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 1px solid var(--secondary-border-color);

        --outline-color: transparent;
        outline: 1px solid var(--outline-color);

        /* Validation colors */
        &:invalid {
            --outline-color: var(--color-error);
        }

        &:valid {
            --outline-color: transparent;
        }

        &:placeholder-shown {
            --outline-color: transparent;
        }
    }

    input:hover {
        background-color: var(--input-background-hover);
    }

    input:focus {
        background-color: var(--input-background-hover);
    }

    input:focus-visible {
        --outline-color: var(--input-outline);
    }

    textarea {
        display: block;
        margin-top: 0.25rem;
        width: 100%;
        border-radius: 0.375rem;
        background-color: var(--input-background);
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 1px solid var(--secondary-border-color);
    }

    textarea:hover {
        background-color: var(--input-background-hover);
    }

    textarea:focus {
        background-color: var(--input-background-hover);
        outline: 1px solid transparent;
    }

    textarea:focus-visible {
        outline: 1px solid var(--input-outline);
    }

    select {
        display: block;
        width: 100%;
        border-radius: 0.375rem;
        background-color: var(--input-background);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border: 1px solid var(--secondary-border-color);
    }

    select:hover {
        background-color: var(--input-background-hover);
    }

    select:focus {
        background-color: var(--input-background-hover);
        outline: 1px solid transparent;
    }

    select:focus-visible {
        outline: 1px solid var(--input-outline);
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        *:not(button.action) {
            flex-grow: 1;
        }

        :last-child:is(select, button, [type="button"]) {
            width: max-content;
        }
    }

    button.action {
        svg {
            width: 1rem;
            height: 1rem;
            align-self: center;
        }
    }
}