.button {
    width: max-content;
    border-radius: 0.375rem;
    background-color: var(--button-background);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.button:hover {
    background-color: var(--button-background-hover);
}