.default-page {
    > .heading {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }
}