.hero {
    position: relative;
    width: 100%;
    -webkit-user-select: none;
            user-select: none;
    background-size: 100%;
    background-position: top;
    background-attachment: scroll, fixed;

    height: 20vh;
    min-height: 20vh;
    background-image: linear-gradient(to bottom, hsla(0deg, 0%, 0%, 0) 80%, hsl(0deg, 0%, 9%)), var(--nb-heroimage);
}