.input {
    > label {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--text-color-secondary);
    }

    > input {
        margin-top: 0.25rem;
        display: block;
        width: 100%;
        border-radius: 0.375rem;
        background-color: var(--input-background);
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem
    }

    > input:hover {
        background-color: var(--input-background-hover);
    }

    > input:focus {
        background-color: var(--input-background-hover);
        outline: 1px solid transparent;
    }

    > input:focus-visible {
        outline: 1px solid var(--input-outline);
    }

    > select {
        margin-top: 0.25rem;
        display: block;
        width: 100%;
        border-radius: 0.375rem;
        background-color: var(--input-background);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem
    }

    > select:hover {
        background-color: var(--input-background-hover);
    }

    > select:focus {
        background-color: var(--input-background-hover);
        outline: 1px solid transparent;
    }

    > select:focus-visible {
        outline: 1px solid var(--input-outline);
    }
}