.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 50;
    width: 100%;
    border-bottom-width: 1px;
    border-color: var(--border-color);
    background-color: var(--nav-bg);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.8) 0px 25px 50px -12px;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);

    > div {
        margin-left: auto;
        margin-right: auto;
        max-width: 80rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 1024px) {
        padding-left: 2rem;
        padding-right: 2rem
        }

        > div {
            display: flex;
            height: 4rem;
            align-items: center;

            .logo {
                display: flex;
                flex-shrink: 0;
                align-items: center;

                a > img {
                    pointer-events: none;
                    height: 2rem;
                    width: auto;
                    -webkit-user-select: none;
                            user-select: none;
                }
            }

            .navitem {
                margin-left: 1.5rem;
                display: flex;

                &> :not([hidden]) ~ :not([hidden]) {
                    margin-right: calc(1rem * 0);
                    margin-left: calc(1rem * 1)
                  }

                a {
                    flex-shrink: 0;
                    border-radius: 0.375rem;
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    font-weight: 500;
                    --tw-text-opacity: 1;
                    color: var(--text-color-secondary);

                    &.active {
                        flex-shrink: 0;
                        border-radius: 0.375rem;
                        background-color: var(--button-background-active);
                        padding-left: 0.75rem;
                        padding-right: 0.75rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        font-weight: 500;
                        color: var(--text-color-primary);
                    }
                    
                    &:hover {
                        background-color: var(--button-background-hover);
                        color: var(--text-color-primary);
                    }
                }
            }

            .grow {
                flex-grow: 1;
            }

            .github {
                margin-left: 1rem;
                margin-right: 1rem;
                display: flex;
                flex-shrink: 0;
                align-items: center;

                @media (min-width: 768px) {
                position: absolute;
                top: 0px;
                right: 1rem;
                height: 100%;
                }

                a {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: 0.5rem;

                    svg {
                        height: 1.25rem;
                        width: 1.25rem;
                    }

                    span {
                        display: none;

                        @media (min-width: 640px) {
                        display: block
                        }
                    }
                }
            }
        }
    }
}