:not(no-standard) {
    code:not([class*=language-]) {
        border-radius: 0.375em;
        background-color: var(--bg-primary);
        padding-left: 0.25em;
        padding-right: 0.25em;
        font-family: var(--font-mono);
        letter-spacing: -0.05em;
    }

    hr {
        border-color: var(--border-color);
        margin: 0.5rem 0rem;
    }
}